In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2021-11-22 21:30:13,39.0500,-27.9833,64.76,84,100,24.79
1,1,Fortuna,US,2021-11-22 21:26:22,40.5982,-124.1573,70.93,46,1,3.00
2,2,Makakilo City,US,2021-11-22 21:26:25,21.3469,-158.0858,80.92,70,90,9.22
3,3,Arraial Do Cabo,BR,2021-11-22 21:30:13,-22.9661,-42.0278,73.26,60,0,13.80
4,4,Sikeston,US,2021-11-22 21:30:14,36.8767,-89.5879,48.20,39,1,3.44

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Fortuna,US,2021-11-22 21:26:22,40.5982,-124.1573,70.93,46,1,3.00
2,2,Makakilo City,US,2021-11-22 21:26:25,21.3469,-158.0858,80.92,70,90,9.22
3,3,Arraial Do Cabo,BR,2021-11-22 21:30:13,-22.9661,-42.0278,73.26,60,0,13.80
7,7,Puerto Ayora,EC,2021-11-22 21:30:15,-0.7393,-90.3518,78.76,70,10,13.89
9,9,Rikitea,PF,2021-11-22 21:25:36,-23.1203,-134.9692,75.00,68,1,10.87
13,13,Dawei,MM,2021-11-22 21:30:16,14.0833,98.2000,75.58,88,64,5.57
14,14,Rosarito,MX,2021-11-22 21:30:16,32.3333,-117.0333,89.67,38,93,8.28
22,22,Dingle,PH,2021-11-22 21:30:19,10.9995,122.6711,76.01,94,26,6.85
23,23,Vaini,TO,2021-11-22 21:30:19,-21.2000,-175.2000,82.56,78,20,6.91
25,25,Cabedelo,BR,2021-11-22 21:30:20,-6.9811,-34.8339,81.27,73,63,11.86

In [15]:
preferred_cities_df.count()

City_ID       208
City          208
Country       208
Date          208
Lat           208
Lng           208
Max Temp      208
Humidity      208
Cloudiness    208
Wind Speed    208
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1           Fortuna      US     70.93  40.5982 -124.1573
2     Makakilo City      US     80.92  21.3469 -158.0858
3   Arraial Do Cabo      BR     73.26 -22.9661  -42.0278
7      Puerto Ayora      EC     78.76  -0.7393  -90.3518
9           Rikitea      PF     75.00 -23.1203 -134.9692
13            Dawei      MM     75.58  14.0833   98.2000
14         Rosarito      MX     89.67  32.3333 -117.0333
22           Dingle      PH     76.01  10.9995  122.6711
23            Vaini      TO     82.56 -21.2000 -175.2000
25         Cabedelo      BR     81.27  -6.9811  -34.8339

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Fortuna,US,70.93,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,Makakilo City,US,80.92,21.3469,-158.0858,Marriott's Ko Olina Beach Club
3,Arraial Do Cabo,BR,73.26,-22.9661,-42.0278,Pousada Porto Praia
7,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Rikitea,PF,75.00,-23.1203,-134.9692,People ThankYou
13,Dawei,MM,75.58,14.0833,98.2000,Hotel Dawei
14,Rosarito,MX,89.67,32.3333,-117.0333,Hotel Festival Plaza Rosarito
22,Dingle,PH,76.01,10.9995,122.6711,SEGAYA PROPERTY
23,Vaini,TO,82.56,-21.2000,-175.2000,Keleti Beach Resort
25,Cabedelo,BR,81.27,-6.9811,-34.8339,Hotel Pigalle

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))